<app-toolbar></app-toolbar>
<mat-grid-list cols="4" gutterSize="0px" rowHeight="400px">
  <mat-grid-tile *ngFor="let program of  authService.searchedPrograms.slice(pageEvent.pageIndex * pageEvent.pageSize, (pageEvent.pageIndex + 1) * pageEvent.pageSize)">
    <app-card [program]="program"></app-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="authService.programs.length"
               [pageIndex]="pageEvent.pageIndex"
               [pageSize]="pageEvent.pageSize"
               [pageSizeOptions]="[5, 8,]"
               (page)="pageEvent = $event">
</mat-paginator>
