h1 {
  padding: 10px ;
  color: #d3d7dd;
}

h2 {
  padding: 1rem;
  color: #3a2d97;
}

mat-toolbar{
  position:fixed;
  top:0;
  z-index: 2;
  width: 99%;
  border: 3px solid black;
  background: #3a2d97;
}
mat-sidenav-container {
  height:100%;
}
mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }

  .entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
  }
}
mat-sidenav-content{
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}
.expanded {
  width: 250px;
}

mat-icon{
  color: #3a2d97;
}

button{
  margin: 10px;
}
input{
  width: 10%;
  height: 30px;
  margin-left: 50px;
}
.searchButton{
  color: white;
}
mat-grid-list{
  margin-top: 64px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  background: #dddddd;
}
mat-grid-tile{
  border-radius: 20px;
}
mat-paginator{
  border: 3px solid black;
  background: #3a2d97;
  color: #adadc2;
  display: flex;
  justify-content: center;
}
body {
  background-color: #47281F;
}
