<mat-card [routerLink]="['/program', program.idprogram]">
  <mat-card-title>{{ program.name }}</mat-card-title>
  <img class="picture" mat-card-image [src]="program.picture" alt="Program">
<mat-card-title >{{ (instructor$ | async)?.name + ' ' + (instructor$ | async)?.lastname}}</mat-card-title>
  <div>
    <mat-card-subtitle class="difficulty">
      <mat-icon *ngIf="program.difficulty >= 1">fitness_center</mat-icon>
      <mat-icon *ngIf="program.difficulty >= 2">fitness_center</mat-icon>
      <mat-icon *ngIf="program.difficulty >= 3">fitness_center</mat-icon>
    </mat-card-subtitle>
    <mat-card-subtitle class="price">
      <!-- Assuming price is a number representing the cost -->
      {{ program.price + " KM"}}
    </mat-card-subtitle>
  </div>
</mat-card>
