body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #47281F;
}


.container {
  color: #3a2d97;
  width: 320px;
  padding: 40px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
  background: rgba(255,255,255,0.5);
  /*background: linear-gradient(to bottom right, #f5f5f6,#adadc2);*/
  background: #d3d7dd;
  border-radius: 50px;
}

input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btn {
  background-color: #3a2d97;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid white;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

