body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #47281F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: #3a2d97;
  width: 320px;
  padding: 40px;
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px grey;
  background: rgba(255,255,255,0.5);
  /*background: linear-gradient(to bottom right, #f5f5f6,#adadc2);*/
  background: #d3d7dd;
  border-radius: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f5f5f6;
  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 10px;
}

.btn {
  background-color: #3a2d97;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.btn:hover {
  opacity: 1;
}
