<div class="container">
  <div class="row">
    <div class="column">
      <label for="name"><b>Name</b></label>
      <input #name type="text" id="name" name="name" required>

      <label for="surname"><b>Surname</b></label>
      <input #surname type="text" id="surname" name="surname" required>

      <label for="username"><b>Username</b></label>
      <input #username type="text" id="username" name="username" required>

    </div>

    <div class="column">
      <label for="password"><b>Password</b></label>
      <input #password type="password" id="password" name="password" required>

      <label for="confirm_password"><b>Confirm Password</b></label>
      <input #passwordConfirm type="password" id="confirm_password" name="confirm_password" required>

      <label for="email"><b>Email</b></label>
      <input #email type="email" id="email" name="email" required>
    </div>
  </div>
    <label for="city"><b>City</b></label>
    <input #city type="text" id="city" name="city" required>

  <div class="center-content">
    <img [src]="base64Output ? 'data:image/jpeg;base64,' + base64Output : './assets/avatars/generic.jpg'" class="profile-avatar" (click)="fileInput.click()" matTooltip="Set avatar">
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
  </div>

  <button class="btn" (click)="registerUser()">Register</button>
  <button class="btn" routerLinkActive="active" routerLink="" ariaCurrentWhenActive="page">Back to login</button>
</div>
